<html>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Vessel Beta Test (09/27/2014 - Current)</a>
    </div>
  </div>

<div class="container-fluid">
  <div class="dashboard">

    <div class="row"> <!--first row-->
      <div class="col-md-9">
        <div class="chart-wrapper">
          <div class="chart-title">
            New Experiment Creation
          </div>

          <div class="chart-stage">
            <div id="new_experiment"></div>
          </div>

          <div class="chart-notes">
            <button class="btn btn-xs btn-default" ng-click="switchNewExperimentView('default')">Total</button>
            <button class="btn btn-xs btn-default" ng-click="switchNewExperimentView('byLab')">Total - By Lab</button>
            <button class="btn btn-xs btn-default" ng-click="switchNewExperimentView('perUser')">Per User</button>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            Experiment Completion This Week
          </div>

          <div class="chart-stage">
            <div class="center" id="experiment_completion"></div>
          </div>

          <div class="chart-notes">
          Experiment Completion Rate for this week
          </div>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-9">
        <div class="chart-wrapper">
          <div class="chart-title">
            Weekly Posts
          </div>

          <div class="chart-stage">
            <div id="weekly_posts"></div>
          </div>

          <div class="chart-notes">
            <button class="btn btn-xs btn-default" ng-click="switchPostsView('default')">Total</button>
            <button class="btn btn-xs btn-default" ng-click="switchPostsView('byLab')">Total - By Lab</button>
          </div>

        </div>
      </div>

      <div class="col-md-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            Post Location
          </div>

          <div class="chart-stage">
            <div class="center-pie" id="post_location"></div>
          </div>

          <div class="chart-notes">
           Where are conversations starting?
          </div>
        </div>
      </div>
    </div><!--row-->

    <div class="row"> <!--third row-->
      <div class="col-md-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            Deleted Experiments
          </div>

          <div class="chart-stage">
            <div class="center" id="deleted_experiments"></div>
          </div>

          <div class="chart-notes">
            Deleted Experiments
          </div>
        </div>
      </div>
    </div><!--row-->


  </div><!--dashboard-->
</div><!--Container Fluid-->




<!--
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h1 class="page-header">Dashboard</h1>
  <div class="container-fluid">
    <div class="row placeholders">
      <div class="col-xs-6 col-sm-3 placeholder">
        <div id="experiment_completion" class="experiment_completion"></div>
        <span class="text-muted">Experiment Completion</span>
      </div>
      <div class="col-xs-6 col-sm-3 placeholder">
        <div id="post_breakdown"></div>
        <span class="text-muted">Something else</span>
      </div>
      <div class="col-xs-6 col-sm-3 placeholder">
        <div id="post_count"></div>
        <span class="text-muted">Something else</span>
      </div>
      <div class="col-xs-6 col-sm-3 placeholder">
      </div>
    </div>

    <div class="row placeholders">
      <div class="col-xs-6 col-sm-3 placeholder">
        <div id="post_sub_type_breakdown" style="margin-left:-100px"></div>
        <span class="text-muted">Post Types</span>
      </div>
      <div class="col-xs-6 col-sm-3 placeholder">
      </div>
      <div class="col-xs-6 col-sm-3 placeholder">
      </div>
      <div class="col-xs-6 col-sm-3 placeholder">
      </div>
    </div>
  </div>
</div>



<div id="experiment_completion"></div>
<div>
  <button class="btn btn-default" ng-click="test()">to date</button>
</div>
<div id="post_breakdown"></div>
<div id="post_count"></div>
-->

<!--Javascript-->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="public/js/homeCtrl.js"></script>
  <script src="public/js/date.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
</body>
</html>