  .experiment_completion{
    margin-left: -100px;
  }

  .dashboard{
    margin-top:100px;
  }

  .box{
    border-style:solid;
    border-radius: 1px;
  }

  .test{
    margin-left:-100px;
  }

  .adjust-pull-right{
    postion: absolute;
    right:20px;
    margin-top:-35px;
  }

  .center{
    margin-left:45px;
    margin-top: 45px;
  }

  .center-pie{
    margin-left:-10px;
    margin-top: -5px;
  }

  .navbar-inverse {
    background-color: #3d4a57;
    border-color: #333;
  }

  .navbar-inverse .navbar-nav > li > a,
  .navbar a.navbar-brand {
    color: #fbfbfb;
  }

  div [class^="col-"] {
    padding-left: 5px;
    padding-right: 5px;
  }

  .chart-wrapper {
    background: #fff;
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    margin-bottom: 10px;
  }
  .chart-wrapper .chart-title {
    border-bottom: 1px solid #d7d7d7;
    color: #555;
    font-size: 15px;
    font-weight: 500;
    padding: 8px 10px 5px;
  }

  .chart-wrapper .chart-stage {
    min-height: 240px;
    padding: 5px 10px;
  }

  .chart-wrapper .chart-notes {
    background: #fbfbfb;
    border-top: 1px solid #e2e2e2;
    color: #808080;
    font-size: 12px;
    padding: 8px 10px 5px;
  }